*.class
*.cache
.classpath
.project
target
bin
.settings
gerbil_keys.properties
gerbil_data
*.log
google*.html
export

# IntelliJ
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
